@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}
.text-center{
    text-align: center;
}
.my-margin{
    margin:20px 0;
}
.my-margin1{
    margin:6px 0;
}
.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Oswald', sans-serif;
    /* border: 2px solid red; */
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 88px;
    padding: 0px 10px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* align-items: center; */
}

nav ul li {
    list-style-type: none;
    padding: 0 23px;
    /* text-decoration: none; */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(16, 16, 84);
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
}

#search-bar {
    height: 33px;
    width: 520px;
    border-radius: 4px;
    margin: 0 16px 0 56px;
}

.btn {
    padding: 4px 12px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid white;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Oswald', sans-serif;
}

.container {
    min-height: calc(100vh - 58px - 10vh)
}
.featured{
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured h2{
    margin:20px;
    /* font-family: 'Caveat', cursive; */
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
}

.slider {
    display: flex;
    justify-content: center;
}
.slider img{
   margin:20px;
}
.card{
    /* background-color:#2874f0; */
    max-width: 91vw;
    margin: auto;
}
.card h2{
    margin: 20px 0;;
    
    font-family: 'Oswald', sans-serif;
}
.cards{
    display: flex;
    overflow: scroll;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin:0 15px;
}
.lines p{
    font-family: 'Oswald', sans-serif;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Oswald', sans-serif;
}